<div class="header">

</div>

<a (click)="goBack()" class="back-link">
  ← Back 
</a>

<div class="form-container" *ngIf="!showPaymentForm">
  <form [formGroup]="deliveryForm" (ngSubmit)="onDeliverySubmit()">
    <h2>Delivery Details</h2>
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" formControlName="fullName">
    </div>

    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" formControlName="phone">
    </div>

    <div class="form-group">
      <label for="address">Delivery Address:</label>
      <textarea id="address" formControlName="address"></textarea>
    </div>

    <div class="form-group">
      <label for="postcode">Postcode:</label>
      <input type="text" id="postcode" formControlName="postcode">
    </div>

    <button type="submit" class="submit-btn">Continue to Payment</button>
  </form>
</div>

<div class="form-container" *ngIf="showPaymentForm">
  <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
    <h2>Payment Details</h2>
    <p class="secure-checkout">
      Secure Checkout
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuklEQVR4nN2UOw7CQAxEXwcF3ADuk5CGi/A5JlCF9DSbGwD9IksGrRBLiJNIG0aaau0ZW2MtJIApsAOOwF15ALbApKv4EqgAH2EJLLpMXqnQGSiAmbII3krrJvtAXETfMQcuWrOxGJy0WaaNYa01kklr3LT50/ThFlJztRg8g+yr7oUMqL9cjo/QaW8jnEHcByb9r9y2738NVhq+MB/CoG4IM32DXIVj955+yOMxcEN/FZnRxP362Y0LDwyAkwkeNKFZAAAAAElFTkSuQmCC" alt="icon">
    </p>
    <hr>
    <div class="form-group">
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" formControlName="fullName">
  </div>
    <div class="form-group">
      <label for="card">Card Number:</label>
      <input type="number" id="card" formControlName="card">
    </div>

    <div class="form-group">
      <label for="cvc">CVC:</label>
      <input type="password" id="cvc" formControlName="cvc">
    </div>

    <div class="form-group">
      <label for="expiry">Expiry Date:</label>
      <input type="date" id="expiry" formControlName="expiry">
    </div>

    <button type="submit" class="submit-btn">Complete Order</button>
  </form>
</div>
<div>
  <p>Item costs:</p>
  
</div>