.product-card {
  margin-bottom: 50px;
  width: 300px;
  height: 500px;
  background-color: rgb(237, 236, 236);
  padding-left: 5px;
  margin: 0; // Reset margin
  transition: transform 0.3s, box-shadow 0.3s; // Smooth transition
  transform-style: preserve-3d;
  border: 1px solid black;
  border-radius: 10px;
  &:hover {
    transform: translateY(-10px) rotateY(5deg); // Move up and tilt on hover
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); // Enhanced shadow on hover
  }
}
h3 {
  margin-left: 30%;
}
img {
  width: 98%;
  height: 200px;
  padding-left: 2px;

  margin-top: 5px;
}
p {
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center; // Align buttons horizontally
  gap: 10px; // Space between the buttons
  margin-top: 30px;

  i {
    font-size: 24px; // Adjust the font size to define the icon size
    cursor: pointer; // Change cursor to pointer on hover
    color: black; 
    padding-top: 5px;// Optional: Change the color of the heart icon

    &:hover {
      color: #d5006d; // Optional: Change color on hover
    }
  }

  .wishlist-container {
    position: relative;  // Ensure this is relative for proper positioning of tooltip
    display: inline-block;
  }
  
  .wishlist-tooltip {
    visibility: hidden; /* Initially hidden */
    width: 120px;
color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    bottom: 86%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Offset the tooltip horizontally */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* When the user hovers over the heart icon, show the tooltip */
  &:hover .wishlist-tooltip {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

  button {
    width: 100px; // Set the width to match the icon size
    height: 36px; // Set the height to match the icon size
    background-color: green; // Button background color
    border: none; // Remove default button border
    border-radius: 4px; // Optional: Add border-radius for rounded corners
    display: flex; // Make it a flex container
    justify-content: center; // Center the content horizontally
    align-items: center; // Center the content vertically
    color: white; // Text color
    font-size: 16px; // Adjust font size if needed
    cursor: pointer; // Change cursor to pointer on hover

    &:hover {
      background-color: darkgreen; // Change background on hover
    }
    
    
  }
 
  
}
