@import "../product-card/product-card.component.scss";


h2 {
  margin-left: 40%;
  margin-top: 2%;
}

.back-link {
    position: relative;
    top: 50px; /* 100px from the top of the page */
    margin-left: 40px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
.wishlist-item {
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: flex-start; // Align buttons horizontally
  gap: 30px; // Space between the buttons
  margin-top: 10px;
  button {
    width: 100px; // Set the width to match the icon size
    height: 36px; // Set the height to match the icon size
  }
}
p{
  margin-left: 40%;
  margin-top: 20%;
  font-size: 20px;
  font-weight: bold;
}