h2 {
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40%;
  font-size: 30px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 110vh; /* Ensures the wrapper takes at least the full height of the viewport */
}


.item-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  h3 {
    margin: 0;
    font-size: 1.4rem;
  }

  p {
    margin: 8px 0;
  }

  .counter {
    display: flex;
    align-items: center;
    margin-top: 10px;

    button {
      background-color: #007bff;
      color: white;
      border: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }

    .quantity {
      width: 40px;
      text-align: center;
      font-size: 1rem;
      margin: 0 10px;
    }
  }
}

.total {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
}

.empty {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.bottom-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  text-align: center;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: #218838;
  }
}

@media only screen and (max-width: 768px) {
  .item-box {
    margin-left: 5px;
    width: 90%;

  }
.total{
text-align: center;
}
.footer{
bottom: 0;}
}
@media only screen and (max-width: 990px) {
  .item-box {
    margin-left: 5px;
    width: 95%;
  }
}
